html, body {
    height: 100%;
    width: 100%;
    /*Hide scrollbars*/
    overflow: hidden; 
}

/*Back ground picture*/
body {
    background-image: var(--titleImg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}

#content{
  /*Center elements*/
  width: 100%;
  height: 100%;
  /*Center elements*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*Text style*/
  font-family: var(--font);
  font-size: min(2.5vw, 250%);
}

h1{
  margin: 0;
  width: 100%;
}
/* Press key animation*/
#pressKey {        
     opacity: 0;
     animation: fadeInOut 2s infinite;
     animation-delay: 5s;
}
@keyframes fadeInOut {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

 /*Title animation original code modified from: https://css-tricks.com/snippets/css/typewriter-effect/ */
 #title {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .10em solid; /*Typing bar*/
    border-color: transparent; 
    white-space: nowrap; /* Keeps the content on a single line */    
    letter-spacing: .02em;    
    animation: 
      typing 3.5s steps(40, end),
      type-effect .9s step-end 3;    
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  } 
  
  /* hide/show typing bar - effect */
  @keyframes type-effect {
    from, to {    
      border-color: transparent }
    50% { border-color: black; }
  }

/*Logo position*/
#logoContainer{
  height: clamp(75px, 15%, 220px);
  width: clamp(120px, 25%, 300px);
}
#logo{
  content: var(--logoBGPicture);
  height: 100%;
  width: 100%;
}