html, body{
    height: 100%;
    width: 100%;
    font-family: var(--font);
    overflow: hidden;
}
/*Background picture*/
body{
    background-image: var(--menuImg);
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    margin: 0;  
}

/*Content container*/
#container{
    /*Position - center vertically*/
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*Size*/    
    width: clamp(700px, 60%, 900px);   
    height: clamp(550px, 80%, 1500px);   
    /*Center horizontally*/
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /*Color*/
    color: white;   
    /*Background box*/
    background-color: var(--boxBg);
    border: 3px solid black;
    border-radius: 15px;
}

/* Page content */
#content{
    /*Size and position*/
    position: relative;
    top: 1%;
    width: 95%;
    height: 98%;
    /*Center content*/
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-content: center;     
}
/*Text tags*/
h1{
    font-family: var(--font);
    font-size: calc(1.8rem + 1vh);
    text-align: center;
}
summary{
    cursor: pointer;
    font-family: var(--font);
    font-size: calc(1.5rem + 1vh);
}

.sumContent{
    position: relative;
    font-size: calc(1.1rem + 1vh);
    text-align: justify;    
    max-height: max(250px, 38vh); 
    overflow-y: auto;
}

/*Text*/
#expandibleMenu{    
    height: 85%;
}

/*Table*/
table{
    width: 60%;    
    position: relative;
    text-align: center;
    /*Borders*/
    border-spacing:0; 
    border-collapse: collapse; 
    /*Center table*/
    margin-left: auto;
    margin-right: auto;
}
    /*Prepare table borders*/
.col1{
    border-right: white 2px solid;
}
#topRow{
    border-bottom: white 2px solid;
}

/*Button*/
form{
    position: relative;
    text-align: center;    
    margin-bottom: -0.5%;
}
.menuButton{
    width: max(20%, 350px);
    height: max(4vh, 50px);
    /*Font*/
    font-family: var(--font);
    font-size: max(2vmax, 200%);
}
