/*Colors*/
:root {
    --inputHeight: max(3vh, 35px); /*input fields height*/
}

/*Whole page*/
body, html, #container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: var(--font);
    min-width: 800px;   
}
body{
    margin: 0;
    background-image: var(--titleImg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Page split*/
.logForm{    
    width: 50%;           
    display: inline-block;    
    height: 100%;
    vertical-align:top;    
}
#leftForm{
    float: left;        
}


/*Middle column row*/
#middle-column{
    /*Position and dimensions*/
    position: absolute;    
    top: 10%;
    height: max(80%, 350px);     
    left: max(49.75%, 390px);
    width: 0.5%;
    /*Style*/
    background-color: var(--frame1);   
    border-radius: 10px;
}

#rightForm{        
    float: right;    
}


/*LOGIN FORM*/
#loginFrame{    
    /*Position*/
    position: relative;
    width: calc(50% + 5vmax);
    /*width: clamp(375px, 50%, 500px);*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*Colors*/
    background-color: var(--boxBg);
    color: white;   
    border-radius: 7%;
    border-style: solid;
    border-color: var(--frame1);    
}
#login{    
    position: relative;
    width: 95%;    
    left: 50%;
    transform: translateX(-50%);  
    margin-top: 5%; 
    margin-bottom: 5%;
}

/*Specific elements positioning*/
#login input[type="text"], #login input[type="email"]{
    width: 98%;
    margin-left: 1%;
    height: var(--inputHeight);
    border-radius: 5px;
    font-family: var(--font);
    font-size: max(1.5vmax, 135%);
    padding: 0;
    color: black;
}
#login h1 {        
    text-align: center;    
}

/*show hide password specific settings for page*/
.passwodElement{
    width: 98%;
}


/*links*/
#login a{
    color:var(--main2);
}


/*createAccount form*/
#border{    
    margin-top: 10%;
    border-top: .1em solid var(--frame1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;      
}

#createAccount{ 
    margin-top: 10%;
}

#verificationText{
    padding: 10px;
    text-align: justify;    
}
/*After verifying email code*/
#userVerified{
    height: 40%;
}

/*PLAY FORM*/
#playContainer{
    width: clamp(350px, 70%, 500px);
    /*Position*/
    position: relative;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);  
    /*Colors*/
    background-color: var(--boxBg);
    color: white;   
    border-radius: 7%;
    border-style: solid;
    border-color: var(--frame1);    
}
#playFrame{    
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    /*Center content*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;  
}

/*Logo*/
#logo{
    content: var(--logoBGPicture);
    height: clamp(75px, 17%, 220px); /*clamp(75px, 15%, 220px);*/
    width: clamp(120px, 50%, 300px); /*clamp(120px, 25%, 300px);*/
    position: relative;
    top: max(15%,16vh);/*max(5%, 35px, 5vh);*/
    left: 50%;/*max(15%, 105px, 15vw);*/
    transform: translateX(-50%);
}

/*Fonts*/
h1{
    font-size: calc(1.7rem + 1vh);
}
p, a, label{
    font-size: calc(0.5rem + 1.5vmax);
    margin-left: 1%;
}
.errorMessage{
    font-size: calc(0.8rem + 0.8vh) !important;
    color: red;
    font-weight: bolder;
    margin-bottom: 0;
}
.error{
    font-size: calc(0.8rem + 0.8vh) !important;
}
/* BUTTONS*/
.menuButton{
    width: clamp(330px, 20%, 480px);
    height: max(4vh, 50px);
    /*Font*/
    font-size: max(2vmax, 200%);
}

#login .menuButton{
    width: 98% !important;
    margin-left: 1% !important;
}


/*button to look like <a>*/
#anchorButton{
    background: none!important;
    border: none;
    padding: 0!important;
    /*input has OS specific font-family*/
    color:var(--main2);
    text-decoration: underline;
    cursor: pointer;
    font-size: 110%;
    font-family: var(--font);
}

/*Consent box*/
#consent p{
    font-size: calc(0.8rem + 0.5vh);
    position: relative;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
}










